.title {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(67, 151, 151);
}

.box {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: black;
  color: white;
}

.holiday-details {
  padding: 20px;
}

.holiday-date {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.holiday-name {
  margin-bottom: 5px;
}

.holiday-localname,
.holiday-cntyname {
  font-style: italic;
}
